<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../src/styles.css" type="text/css" />
  
  <title>Document</title>
</head>
<body>
  <h1>25 anos da morte de Ayrton Senna</h1>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Ayrton_Senna_8_%28cropped%29.jpg/375px-Ayrton_Senna_8_%28cropped%29.jpg"/>
  
  <a href="/about">Sobre</a>
  <a href="/works">Trabalhos</a>
  <a href="/photos">Veja fotos</a>
</body>
</html>