<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../src/styles.css" type="text/css" />
  <title>Document</title>
</head>
<body>
  <h1>Welcome Ironhacker. :)</h1>
  <h2> Esses são os trabalhos</h2>

  <li>
    <ul>1984: Toleman</ul>
    <ul>1985-1987: Lotus</ul>
    <ul>1988-1993: McLaren</ul>
    <ul>1994: Williams</ul>
  </li>
  <a href="/">Home</a>
  <a href="/about">Sobre</a>
  <a href="/photos">Veja fotos</a>
  
</body>
</html>